* {
    box-sizing: border-box;
}

body {
	background-color: #FFECCC;
	margin: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    flex-direction: row;
}



.mainHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 60px;
    width: 33vw;
}

.mainHeader h1{
	font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 3.6vw;
	color: #001524;
	margin: 0px;



}

.mainHeader h2 {
	font-family: "Stylish", serif;
    font-weight: 400;
    font-size: 2.5vw;
	color: #870058;
	margin-top: 20px;
	margin-bottom: 20px;

}


.testimonialsContainer {
	width: 55vw;
	margin-left: 100px;
	overflow-y: auto;
	height: 100vh;


	
}

.testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 55vw;
	height: 30vh;
	margin: 0px;
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: "Inter", sans-serif;
    padding: 50px;
    text-align: center;
    font-weight: 700;
	line-height: 2;
	font-size: 1.4vw;
	color: #F8F4EC;
}

#test1 {
	display: flex;
	background-color: #870058;
	border: 4px solid #870058;
	border-radius: 15px;
}


#test2 {
	background-color: #15616D;
	border: 4px solid #15616D;
	border-radius: 15px;
}


#test3 {
	background-color: #A4303F;
	border: 4px solid #A4303F;
	border-radius: 15px;
}


#test4 {
	background-color: #001524;
	border: 4px solid #001524;
	border-radius: 15px;
}



.pageContainer {
    display: flex;
    width: 100%;
}

.storyContainer {
    text-align: left;
    line-height: 2;
	font-size: 1.4vw;
	overflow-y: auto;
	width: 45vw;
	height: 100vh;
	align-items: center;
	padding: 60px;
	font-family: "Inter", sans-serif;
    font-weight: 700;


}

.rightSideContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 45vw;
    height: 100vh;
    justify-content: center;
}


.headerContainer {
	font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.5vw;
}

.videoContainer {
    display: flex; 
}

.shannon {
	background-color: #15616D;
	color: #FFECCC;
}

.colleen {
	background-color: #A4303F;
	color: #FFECCC;
}

.shireen {
	background-color: #001524;
	color: #FFECCC;
}

.kanisha {
	background-color: #870058;
	color: #FFECCC;

}

a {
	color: inherit;
}

a:hover {
  transform: scale(1.2);
}


.pplink {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
    font-weight: 700;
}

.homeButton {
    position: absolute;
    top: 20px
    left: 20px;
    margin: 10px;

}

.homeButton:hover {
  transform: scale(1.2);
}

.homeButton a {
    text-decoration: none; 
    font-size: 1.2vw;
	font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 10px; 
}

#colleenButton {
	color: #A4303F;
    border: 1px solid #FFECCC; 
    border-radius: 10px; 
    background-color: #FFECCC;
}

#kanishaButton {
	color: #870058;
    border: 1px solid #FFECCC; 
    border-radius: 10px; 
    background-color: #FFECCC;
}

#shireenButton {
	color: #001524;
    border: 1px solid #FFECCC; 
    border-radius: 10px; 
    background-color: #FFECCC;
}

#shannonButton {
	color: #15616D;
    border: 1px solid #FFECCC; 
    border-radius: 15px; 
    background-color: #FFECCC;
}